<ion-view view-title="Cities">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="gotoAdd()">
    Add
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="city in userCities" type="item-text-wrap" ng-click="city.editTime=true">
        <city-with-datetime city="city"></city-with-datetime>
        <ion-option-button class="button-assertive" ng-click="remove(city)" ng-if="$first === false">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="no-background">
    <div class="text-center full-width">
      <button class="button button-clear button-positive" ng-click="resetDatetime()">
      Current Date & Time
      </button>  
    </div>
  </ion-footer-bar>
</ion-view>