<ion-view view-title="Cities">
  <ion-nav-buttons side="right">
      <button class="button button-clear button-positive" ng-click="gotoAdd()">
      Add
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="city in userCities" type="item-text-wrap" href="#/edit/{{city.id}}">
      	<div class="city-summary float-left">
      		<h2>{{city.name}}&nbsp;UTC{{city.timezone}}</h2>
        	<p>{{city.country}}</p>	
      	</div>
        <div class="city-datetime-wrapper float-right">
          <realtime-datetime timezone={{city.timezone}}></realtime-datetime>
        </div>
        <ion-option-button class="button-assertive" ng-click="remove(city)" ng-if="$first === false">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>