<div class="city-item">
	<div class="city-summary">
		<h2>{{city.name}}</h2>
		<h2 ng-class="{utc: '' !== city.timezone}">{{city.timezone}}</h2>
		<p class="country-name">{{city.country}}</p>
	</div>
	<div class="city-datetime-wrapper">
		<realtime-datetime timezone={{city.timezone}} current-datetime="currentDatetime" current-datetime-without-time-offset="currentDatetimeWithoutTimeOffset"></realtime-datetime>
		<div class="hidden-datetime-picker">
			<input name="datetime" type="datetime-local" focus-me="city.editTime" ng-model="setDatetime" ng-change="handleChange()"/>
		</div>
	</div>	
</div>