.float-left {
	float: left;
}
.float-right {
	float: right;
}
.city-item {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	.city-summary {
		display: inline-block;
	}
	.city-datetime-wrapper {
		display: inline-block;
		position: absolute;
		right: 0px;
		.city-datetime {
			text-align: right;
		}
		.hidden-datetime-picker {
			line-height: 0;
			opacity: 0; 
			width: 0; 
			height: 0;
			border: 0;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
	}
}